@charset "UTF-8";
@import "Oyster_common.css" screen;

#Chrysler_Wrapper{
	width:300px; height:600px;
}

#Chrysler_OfferFrame{
	background-repeat: no-repeat; background-position: center center;
}
#Chrysler_Wrapper.Chrysler #Chrysler_OfferFrame{
	background-image: url(../IMG/Oyster_Chrysler_300x600.jpg);
}
#Chrysler_Wrapper.Dodge #Chrysler_OfferFrame{
	background-image: url(../IMG/Oyster_Dodge_300x600.jpg);
}
#Chrysler_Wrapper.Ram #Chrysler_OfferFrame{
	background-image: url(../IMG/Oyster_Ram_300x600.jpg);
}
#Chrysler_Wrapper.Jeep #Chrysler_OfferFrame{
	background-image: url(../IMG/Oyster_Jeep_300x600.jpg);
}
#Chrysler_Wrapper.Fiat #Chrysler_OfferFrame{
	background-image: url(../IMG/Oyster_Fiat_300x600.jpg);
}
#Chrysler_Wrapper.Alfa #Chrysler_OfferFrame{
	background-image: url(../IMG/Oyster_Alfa_300x600.jpg);
}


#Chrysler_Wrapper.Dodge #Chrysler_LegalBtn, #Chrysler_Wrapper.Jeep #Chrysler_LegalBtn{
	right:0px; bottom:45px;
}
#Chrysler_Wrapper.Chrysler #Chrysler_LegalBtn, #Chrysler_Wrapper.Ram #Chrysler_LegalBtn, #Chrysler_Wrapper.Fiat #Chrysler_LegalBtn, #Chrysler_Wrapper.Alfa #Chrysler_LegalBtn{
	right:0px; bottom:0px;
}
#Chrysler_LegalCopyContainer{
	bottom:0px; right:0px; width:290px; height:575px;
}
#Chrysler_LegalCopy{
	width:270px;
}

#Chrysler_Wrapper.Dodge #Chrysler_CTA, #Chrysler_Wrapper.Jeep #Chrysler_CTA{
	left:0px; bottom:0px; width:300px; display:table;
}
#Chrysler_Wrapper.Chrysler #Chrysler_CTA, #Chrysler_Wrapper.Ram #Chrysler_CTA{
	display:-webkit-flex; display:flex; justify-content: center; left:0px; bottom:30px; width:300px;
}
#Chrysler_Wrapper.Fiat #Chrysler_CTA{
	left:0px; bottom:30px; width:300px; display:table;
}
#Chrysler_Wrapper.Alfa #Chrysler_CTA{
	left:0px; bottom:30px; width:300px; display:table;
}


#Chrysler_Wrapper.Chrysler #CTA1Container, #Chrysler_Wrapper.Chrysler #CTA2Container{
	display: inline-block; position: relative; width:128px; height:24px;
}
#Chrysler_Wrapper.Dodge #CTA1Container, #Chrysler_Wrapper.Jeep #CTA1Container,
#Chrysler_Wrapper.Dodge #CTA2Container, #Chrysler_Wrapper.Jeep #CTA2Container{
	width:150px; height:45px; display:table-cell;
}
#Chrysler_Wrapper.Ram #CTA1Container, #Chrysler_Wrapper.Ram #CTA2Container{
	display: inline-block; position: relative;
}
#Chrysler_Wrapper.Fiat #CTA1Container, #Chrysler_Wrapper.Fiat #CTA2Container{
	width:150px; height:25px; display:table-cell;
}
#Chrysler_Wrapper.Alfa #CTA1Container, #Chrysler_Wrapper.Alfa #CTA2Container{
	width:150px; height:25px; display:table-cell;
}

#Chrysler_Wrapper.Chrysler #Chrysler_CTA a:nth-child(2){
	margin-left:10px;
}
#Chrysler_Wrapper.Ram #Chrysler_CTA a:nth-child(2){
	margin-left:20px;
}


#Chrysler_Wrapper.Chrysler #Chrysler_CTA a, #Chrysler_Wrapper.Chrysler #Chrysler_CTA a:hover{
    background-color:transparent;
}
#Chrysler_Wrapper.Chrysler #Chrysler_CTA a div{
    color:#171717 !important;
}
#Chrysler_Wrapper.Chrysler #Chrysler_CTA a:hover div{
    color: #009ACF !important;
}
#Chrysler_Wrapper.Chrysler #Chrysler_CTA a span::after{
	content: ''; position: absolute; left:50%; bottom:1px; width:40px; margin-left:-20px; background:#171717; height:1px; top:auto;
	-webkit-transition:width .3s, background-color .3s, margin-left .3s; transition:width .3s, background-color .3s, margin-left .3s;
}
#Chrysler_Wrapper.Chrysler #Chrysler_CTA a:hover span::after{
	width:80px; margin-left:-40px; background:#009ACF;
}
#Chrysler_Wrapper.Dodge #Chrysler_CTA span{
	background-repeat:no-repeat; background-position:left center; background-size: 6px 10px;
	background-image: url('../SVG/Endemic/Dodge_Button_Arrow.svg');
	padding:0px 11px; text-align:center; line-height: 45px;
}
#Chrysler_Wrapper.Jeep #Chrysler_CTA span{
	background-repeat:no-repeat; background-position:right 40%; background-size: 6px 10px;
	background-image: url('../SVG/Endemic/Jeep_Button_Arrow_Y.svg');
	padding:0px 11px 0px 5px; text-align:center; line-height: 45px;
}
#Chrysler_Wrapper.Jeep #Chrysler_CTA a:hover span{
	background-image: url('../SVG/Endemic/Jeep_Button_Arrow_B.svg');
}
#Chrysler_Wrapper.Fiat #CTA1Copy, #Chrysler_Wrapper.Fiat #CTA2Copy{
	width:100% !important; text-align:center !important;
}
#Chrysler_Wrapper.Fiat #CTA1Arrow, #Chrysler_Wrapper.Fiat #CTA2Arrow{
	display:none;
}
#Chrysler_Wrapper.Fiat #Chrysler_CTA span{
	background-repeat:no-repeat; padding:0px 10px; text-align:center; background-position:0% 35% !important; background-size: 5px 10px;
	background-image: url('../SVG/Endemic/Fiat_Button_Arrow.svg');
}
#Chrysler_Wrapper.Alfa #Chrysler_CTA span{
	padding-left: 10px !important; background-position: left 30% !important;
}


#Chrysler_Wrapper.Chrysler #Chrysler_skipBTN, #Chrysler_Wrapper.Dodge #Chrysler_skipBTN, #Chrysler_Wrapper.Jeep #Chrysler_skipBTN{
	width:100%; height:45px; bottom:0px; left:0px;
}
#Chrysler_Wrapper.Fiat #Chrysler_skipBTN{
	width:100%; height:35px; bottom:0px; left:0px;
}
#Chrysler_Wrapper.Ram #Chrysler_skipBTN{
	width:100%; height:45px; bottom:40px; left:0px;
}
#Chrysler_Wrapper.Alfa #Chrysler_skipBTN{
	width:100%; height:35px; bottom:25px; left:0px;
}
